[submodule "External/Quick"]
	path = External/Quick
	url = git@github.com:Quick/Quick.git
[submodule "External/SNRFetchedResultsController"]
	path = External/SNRFetchedResultsController
	url = git@github.com:sync/SNRFetchedResultsController.git
[submodule "External/LIFXKit"]
	path = External/LIFXKit
	url = git@github.com:sync/LIFXKit.git
