//
//  Copyright (c) 2014 Dblechoc. All rights reserved.
//

// Packaging
PRODUCT_NAME = $(TARGET_NAME)
DEFINES_MODULE = YES;
FRAMEWORK_VERSION = A;
INFOPLIST_FILE = $(TARGET_NAME)/Resources/Info.plist

// Versioning
CURRENT_PROJECT_VERSION = 1
VERSIONING_SYSTEM = "apple-generic"
VERSION_INFO_PREFIX = ""

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
