//
//  Copyright (c) 2014 Dblechoc. All rights reserved.
//

#include "../../Configurations/OSX/Debug.xcconfig"
#include "../../Configurations/OSX/Framework/Framework.xcconfig"
#include "NearbyTramsNetworkKit.xcconfig"

SWIFT_OBJC_BRIDGING_HEADER = $(TARGET_NAME)/Source/$(TARGET_NAME)-Bridging-Header.h
